<!DOCTYPE html>
<html lang="en">
<head>
  <tit.col-xs-12 .col-md-8le>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h1>Hello World!</h1>
  <p>Resize the browser window to see the effect.</p>
  <div class="row" style="background-color:lavender;">
    <div class="col-xs-12" style="background-color:yellow;">.col-xs-12 .col-md-8</div>
    <div class="col-md-8" style="background-color:red;">.col-xs-12 .col-md-8</div>
    <div class="col-md-4" style="background-color:blue;">.col-xs-6 .col-md-4</div>
    <!-- <div class="col-xs-12 col-md-8" style="background-color:red;">.col-xs-12 .col-md-8</div>
    <div class="col-xs-6 col-md-4" style="background-color:blue;">.col-xs-6 .col-md-4</div> -->
  </div>
  <div class="row" style="background-color:lavenderblush;">
    <div class="col-md-4">.col-xs-6 .col-md-4</div>
    <div class="col-md-4">.col-xs-6 .col-md-4</div>
    <div class="col-md-4">.col-xs-6 .col-md-4</div>
  </div>
  <div class="row" style="background-color:lightcyan;">
    <div class="col-xs-6">.col-xs-6</div>
    <div class="col-xs-6">.col-xs-6</div>
  </div>
</div>

</body>
</html>
